<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="D365ConnectionString"
         connectionString="Url=https://globalsupportsb.crm4.dynamics.com;
         Username=Patryk@10486unit4tst10.onmicrosoft.com;
         Password=Pa!@Gi#$; authtype=Office365"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
